<div id="cy"></div>
<br/>
<p><i>Time-Series processor icon images courtesy of Aquatic Informatics.</i></p>
<span>Showing derivation chain for period:</span><div id="zoomContainer">Zoom Level: <span id="zoomLevel"></span>%</br><button onclick="cy.reset()">Center</button></div><br/>
<div id="dateSelector" class="btn-group-vertical"  data-toggle-name="selectedPeriod" data-toggle="buttons">
</div>
<input type="hidden" id="selectedPeriod" name="selectedPeriod"/>
<script type="text/javascript">var derivations = {{{reportData.derivationsJsonText}}};</script>