@charset "UTF-8";
/* CSS Document */

body {
	font-family: Ubuntu;
	font-size: 1.5em;
}
.reporttable {
	position:absolute;
	left:15px;
	padding-right:15px;
}

.floating-comment {
  text-align: left;
  width: 125%;
  padding: 1em;
}

.table-cell {
  padding-left: 2em;
  padding-right: 2em;
  padding-top:.5em;
  padding-bottom:.5em;
}

.col-left {
    display: inline-block;  
    margin-right: 20px;
}

.col-right {
    display: inline-block;
    vertical-align: top;
}