@charset "UTF-8";
/* CSS Document */

body {
	font-family: Ubuntu;
	font-size: 1.5em;
}

.main-container p:first-child{
	margin-top:15px;
	}

 caption {
      color: #333333;
      font-weight: bold;
      font-size: 1.0em;
    } 