.header-logo {
    display: inline-block;  
    margin-right: 20px;
}

.header-title {
    display: inline-block;
    vertical-align: top;
}

.header-labels {
    margin-top: 15px;
}

.header-col-left {
    display: inline-block;  
    margin-right: 1%;
    max-width: 49%;
    word-wrap: break-word;
}

.header-col-right {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    word-wrap: break-word;
}

@media (max-width: 479px) {
    .header-col-left {
        display: block;
        margin-right: 0px;
        max-width: 100%;
        word-wrap: break-word;
    }

    .header-col-right {
        display: block;
        width: 100%;
        word-wrap: break-word;
    }
}


