<div id="tss-report">
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapseRelated" aria-expanded="false">Related Series</a>
      </div>
      <div id="collapseRelated" class="panel-collapse collapse">
        <div class="panel-body">
          <table class="table">
            <thead>
              <th>Upchain</th>
              <th>Downchain</th>
            </thead>
            <tbody>
              {{#reportData.relatedSeries}}
              <tr>
                <td>
                  <a>{{upchain}}</a>
                </td>
                <td>
                  <a>{{downchain}}</a>
                </td>
              </tr>
            </tbody>
            {{/reportData.relatedSeries}}
          </table>
        </div>
      </div>
    </div>
  </div>


  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
       <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapseGaps" aria-expanded="false">Gaps in TS Record</a>
      </div>
      <div id="collapseGaps" class="panel-collapse collapse">
        <div class="panel-body">
          <table class="table">
            <thead>
              <th>Start Time</th>
              <th>End Time</th>
            </thead>
            <tbody>
              {{#reportData.gaps}}
              <tr>
                <td>{{startTime}}</td>
                <td>{{endTime}}</td>
              </tr>
            </tbody>
            {{/reportData.gaps}}
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
       <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapseCorrections" aria-expanded="false">Corrections</a>
      </div>
      <div id="collapseCorrections" class="panel-collapse collapse">
        <div class="panel-body">
          <h3>Pre-Processing</h3>
          <table class="table">
            <thead>
              <th>Start Time</th>
              <th>End Time</th>
              <th>Type</th>
              <th>Creator</th>
              <th>Comments</th>
            </thead>
            <tbody>
              {{#reportData.corrections.pre}}
              <tr>
                <td>{{startTime}}</td>
                <td>{{endTime}}</td>
                <td>{{type}}</td>
                <td>{{user}}</td>
                <td>{{comment}}</td>
              </tr>
            </tbody>
            {{/reportData.corrections.pre}}
          </table>
          <h3>Normal</h3>
          <table class="table">
            <thead>
              <th>Start Time</th>
              <th>End Time</th>
              <th>Type</th>
              <th>Creator</th>
              <th>Comments</th>
            </thead>
            <tbody>
              {{#reportData.corrections.normal}}
              <tr>
                <td>{{startTime}}</td>
                <td>{{endTime}}</td>
                <td>{{type}}</td>
                <td>{{user}}</td>
                <td>{{comment}}</td>
              </tr>
            </tbody>
            {{/reportData.corrections.normal}}
          </table>
          <h3>Post-Processing</h3>
          <table class="table">
            <thead>
              <th>Start Time</th>
              <th>End Time</th>
              <th>Type</th>
              <th>Creator</th>
              <th>Comments</th>
            </thead>
            <tbody>
              {{#reportData.corrections.post}}
              <tr>
                <td>{{startTime}}</td>
                <td>{{endTime}}</td>
                <td>{{type}}</td>
                <td>{{user}}</td>
                <td>{{comment}}</td>
              </tr>
            </tbody>
            {{/reportData.corrections.post}}
          </table>
        </div>
      </div>
    </div>
  </div>
</div>