@charset "UTF-8";
/* CSS Document */

body {
	font-family: Ubuntu;
	font-size: 1.5em;
}
.wide {
  position: absolute;
    top: 5px;
    left: 30px;
    right: 0;
}

.col-left {
    display: inline-block;  
    margin-right: 20px;
}

.col-right {
    display: inline-block;
    vertical-align: top;
}
