<div class="header">
<div>
<div class="header-logo">
<img src="data:image/jpeg;base64,{{usgsLogoBase64}}" />
</div>
<div class="header-title">
<h2>{{reportMetadata.title}}</h2>
</div>
</div>
<div class="header-labels">
<div class="header-col-left">
<p><strong>Location:</strong> {{reportMetadata.stationId}} - {{reportMetadata.stationName}}</p>
{{#reportMetadata.primarySeriesLabel}}<p><strong>Primary Time Series:</strong> {{reportMetadata.primarySeriesLabel}}</p>{{/reportMetadata.primarySeriesLabel}}
{{#reportMetadata.primaryParameter}}<p><strong>Primary Time Series:</strong> {{reportMetadata.primaryParameter}}</p>{{/reportMetadata.primaryParameter}}
{{#reportMetadata.referenceParameter}}<p><strong>Reference Time Series:</strong> {{reportMetadata.referenceParameter}}</p>{{/reportMetadata.referenceParameter}}
{{#reportMetadata.upchainParameter}}<p><strong>Upchain Time Series:</strong> {{reportMetadata.upchainParameter}}</p>{{/reportMetadata.upchainParameter}}
{{#reportMetadata.firstStatDerivedLabel}}<p><strong>Stat Derived Time Series 1:</strong> {{reportMetadata.firstStatDerivedLabel}}</p>{{/reportMetadata.firstStatDerivedLabel}}
{{#reportMetadata.secondStatDerivedLabel}}<p><strong>Stat Derived Time Series 2:</strong> {{reportMetadata.secondStatDerivedLabel}}</p>{{/reportMetadata.secondStatDerivedLabel}}
{{#reportMetadata.thirdStatDerivedLabel}}<p><strong>Stat Derived Time Series 3:</strong> {{reportMetadata.thirdStatDerivedLabel}}</p>{{/reportMetadata.thirdStatDerivedLabel}}
{{#reportMetadata.fourthStatDerivedLabel}}<p><strong>Stat Derived Time Series 4:</strong> {{reportMetadata.fourthStatDerivedLabel}}</p>{{/reportMetadata.fourthStatDerivedLabel}}
{{#reportMetadata.comparisonSeriesLabel}}<strong>Comparison Time Series:</strong> {{reportMetadata.comparisonSeriesLabel}}{{/reportMetadata.comparisonSeriesLabel}}
{{#reportMetadata.comparisonSeries}}<strong>Comparison Time Series:</strong> {{reportMetadata.comparisonSeries}}{{/reportMetadata.comparisonSeries}}
</div>
<div class="header-col-right">
<p><strong>Period:</strong> {{reportMetadata.periodDisplay}}</p>
{{#reportMetadata.firstReferenceTimeSeriesLabel}}<p><strong>Reference Time Series 1:</strong> {{reportMetadata.firstReferenceTimeSeriesLabel}}</p>{{/reportMetadata.firstReferenceTimeSeriesLabel}}
{{#reportMetadata.secondReferenceTimeSeriesLabel}}<p><strong>Reference Time Series 2:</strong> {{reportMetadata.secondReferenceTimeSeriesLabel}}</p>{{/reportMetadata.secondReferenceTimeSeriesLabel}}
{{#reportMetadata.thirdReferenceTimeSeriesLabel}}<p><strong>Reference Time Series 3:</strong> {{reportMetadata.thirdReferenceTimeSeriesLabel}}</p>{{/reportMetadata.thirdReferenceTimeSeriesLabel}}
<p><strong>Created:</strong> {{created}}</p>
<p><strong>Author:</strong> {{reportMetadata.requestingUser}}</p>
</div>
</div>
</div>
<hr />